# FastAPI Configuration
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=False

# Groq API - dapatkan di https://console.groq.com/keys
GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
CHUNK_SIZE=1000
CHUNK_OVERLAP=200

# Qdrant
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=rag_documents

# Voyage AI Embeddings
VOYAGE_API_KEY=
VOYAGE_MODEL=voyage-3-large

# Logging
LOG_LEVEL=INFO
